
.main{
    aspect-ratio: 900/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    .blob1{
        //background-image: url(./assets/blob-1.svg);
    }
}