
.background--container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    .image {
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;
        filter: blur(12px);
    }

    svg #right  {
        animation-name: morphRight;
        animation-duration: 25s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    svg #left  {
        animation-name: morphLeft;
        animation-duration: 25s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes morphRight {
    0% {
        d: path(
            'M0 745C-69.4 729.3 -138.8 713.6 -233.3 718C-327.8 722.5 -447.4 747.3 -507.8 699C-568.3 650.7 -569.7 529.5 -618.1 449.1C-666.5 368.7 -761.8 329.2 -803.6 261.1C-845.5 193.1 -833.7 96.5 -822 0L0 0Z'
        );
    }
    25% {
        d: path(
            'M0 855C-71.2 792.2 -142.5 729.5 -231.1 711.4C-319.8 693.3 -426 719.9 -496.1 682.8C-566.2 645.7 -600.3 544.9 -637.5 463.2C-674.7 381.4 -715 318.8 -753.2 244.7C-791.5 170.7 -827.8 85.4 -864 0L0 0Z'
        );
    }
    50% {
        d: path(
            "M0 864C-88.8 853.5 -177.6 843 -263.9 812.2C-350.2 781.4 -434.1 730.5 -476.7 656.1C-519.2 581.8 -520.4 484.1 -574.4 417.3C-628.4 350.6 -735.1 314.7 -770.4 250.3C-805.6 185.9 -769.3 93 -733 0L0 0Z"
        );
    }
    75% {
        d: path(
            "M0 864C-71.6 789.2 -143.3 714.5 -221.3 681C-299.2 647.4 -383.5 655.2 -456.1 627.8C-528.7 600.4 -589.6 537.9 -647.2 470.2C-704.8 402.5 -759.1 329.5 -770.4 250.3C-781.6 171.1 -749.8 85.5 -718 0L0 0Z"
        );
    }
    100% {
        d: path(
            'M0 745C-69.4 729.3 -138.8 713.6 -233.3 718C-327.8 722.5 -447.4 747.3 -507.8 699C-568.3 650.7 -569.7 529.5 -618.1 449.1C-666.5 368.7 -761.8 329.2 -803.6 261.1C-845.5 193.1 -833.7 96.5 -822 0L0 0Z'
        );
    }
}

@keyframes morphLeft {
    0% {
        d: path(
            "M0 -755C76.6 -732.7 153.3 -710.4 222.2 -683.8C291.1 -657.3 352.3 -626.5 436.1 -600.3C520 -574.1 626.6 -552.6 676.3 -491.4C726.1 -430.2 719.1 -329.2 740.9 -240.7C762.7 -152.2 813.3 -76.1 864 0L0 0Z"
        );
    }
    20% {
        d: path(
            "M0 -696C78.5 -711.1 157 -726.3 229.3 -705.7C301.6 -685.1 367.7 -628.7 415.6 -572C463.4 -515.2 493.1 -458.1 567.9 -412.6C642.8 -367.1 762.9 -333.2 819.8 -266.4C876.7 -199.5 870.3 -99.8 864 0L0 0Z"
        );
    }
    40% {
        d: path(
            "M0 -789C76.6 -746.9 153.1 -704.9 216.3 -665.7C279.5 -626.6 329.4 -590.4 416.7 -573.6C504.1 -556.8 629 -559.5 699 -507.8C769 -456.2 784 -350.2 789.4 -256.5C794.7 -162.8 790.4 -81.4 786 0L0 0Z"
        );
    }
    60% {
        d: path(
            "M0 -842C96.4 -852.3 192.9 -862.6 267 -821.7C341.1 -780.8 392.9 -688.8 451.4 -621.3C509.9 -553.9 575 -511 620.5 -450.8C666 -390.7 691.8 -313.2 723.8 -235.2C755.7 -157.1 793.9 -78.6 832 0L0 0Z"
        );
    }
    80% {
        d: path(
            "M0 -696C78.5 -711.1 157 -726.3 229.3 -705.7C301.6 -685.1 367.7 -628.7 415.6 -572C463.4 -515.2 493.1 -458.1 567.9 -412.6C642.8 -367.1 762.9 -333.2 819.8 -266.4C876.7 -199.5 870.3 -99.8 864 0L0 0Z"
        );
    }
    100% {
        d: path(
            "M0 -755C76.6 -732.7 153.3 -710.4 222.2 -683.8C291.1 -657.3 352.3 -626.5 436.1 -600.3C520 -574.1 626.6 -552.6 676.3 -491.4C726.1 -430.2 719.1 -329.2 740.9 -240.7C762.7 -152.2 813.3 -76.1 864 0L0 0Z"
        );
    }
}
