@import "../../styles.scss";


:root {
    --background: #ffffff40;
    --border-radius: 36px;
}

.widget--container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: var(--border-radius);//3.45rem; // 28dp;
}
