@import "../../styles.scss";


:root {
    --background: #ffffff40;
}

.widget--container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: 36px;//3.45rem; // 28dp;
}
