@import '../widget.scss';

.widget--container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    /*position: relative;
    display: flex;
    align-content: center;

    flex-flow: column wrap;
    width: 70%;
    height: 90%;*/
    transition: all 0.4s;
    font-family: system-ui, "Segoe UI", "Roboto", ;//'Roboto Mono', monospace;
    //font-weight: 300;
    font-size: 36px;
    letter-spacing: 3px;
}